body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    margin: 0;
}

.login-container {
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

.input {
    margin-bottom: 15px;
}

.input input {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
}

.button {
    margin-top: 10px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 5px;
}
.login-button {
    color: black;
}
.register-button {
    color: black;
}
