<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="ex2.css">
</head>
<body>
<h2>Responsive Image Gallery</h2>
<h4>Resize the browser window to see the effect</h4>
<div class="container">
    <div class="item">
        <img src="https://demo.codegym.vn/web/15/gallery/img_fjords.jpg" alt=""> Add a description of the image here
        <div class="back"></div>
    </div>
    <div class="item">
        <img src="https://demo.codegym.vn/web/15/gallery/img_forest.jpg" alt=""> Add a description of the image here
        <div class="back"></div>
    </div>
    <div class="item">
        <img src="https://demo.codegym.vn/web/15/gallery/img_lights.jpg" alt=""> Add a description of the image here
        <div class="back"></div>
    </div>
    <div class="item">
        <img src="https://demo.codegym.vn/web/15/gallery/img_mountains.jpg" alt=""> Add a description of the image here
        <div class="back"></div>
    </div>
</div>
</body>
</html>