<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="ex1.css">
</head>
<body>
<div class="container">
  <div class="item">
    <img src="https://demo.codegym.vn/web/15/gallery/img_fjords.jpg" alt="">
    <div class="name">Nguyen Do Khanh</div>
    <div class="avt">
      <img src="https://demo.codegym.vn/web/15/gallery/img_mountains.jpg" alt="">
    </div>
  </div>
  <div class="item">
    <img src="https://demo.codegym.vn/web/15/gallery/img_fjords.jpg" alt="">
    <div class="name">Nguyen Do Khanh</div>
    <div class="avt">
      <img src="https://demo.codegym.vn/web/15/gallery/img_mountains.jpg" alt="">
    </div>
  </div>
  <div class="item">
    <img src="https://demo.codegym.vn/web/15/gallery/img_fjords.jpg" alt="">
    <div class="name">Nguyen Do Khanh</div>
    <div class="avt">
      <img src="https://demo.codegym.vn/web/15/gallery/img_mountains.jpg" alt="">
    </div>
  </div>
  <div class="item">
    <img src="https://demo.codegym.vn/web/15/gallery/img_fjords.jpg" alt="">
    <div class="name">Nguyen Do Khanh</div>
    <div class="avt">
      <img src="https://demo.codegym.vn/web/15/gallery/img_mountains.jpg" alt="">
    </div>
  </div>
</div>
<!--
 1, < 1000: chi hien thi 2 ptu 1 hang
 2, < 700: chi hien thi 1 ptu 1 hang
-->
</body>
</html>