<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="ex1.css">
</head>
<body>
<div class="header">
    <div class="menu">
        <div class="item logo">Logo</div>
        <div class="item">Home</div>
        <div class="item">Contect</div>
        <div class="item">Project</div>
        <div class="item">About</div>
    </div>
    <div class="login">Login</div>
</div>
<div class="main">
    <div class="col1 left">
        <div class="col1-item">Link</div>
        <div class="col1-item">Link</div>
        <div class="col1-item">Link</div>
    </div>
    <div class="col2 mid"></div>
    <div class="col1 right">
        <div class="ads">ADS</div>
        <div class="ads">ADS</div>
    </div>
</div>

</body>
</html>